extends ../../layouts/cabinetLayout
block title
  title Список тарифов
block css
  link(rel="stylesheet", type="text/css", href="/css/requests.css")
block content  
  .content
    h1 Список тарифов
    table#request-table.formTableLayout(border='0', cellpadding=10)
      tr
        th.request-table-item-center №
        th.request-table-item Имя
        th.request-table-item Заголовок
        th.request-table-item Цена
        th.request-table-item Скорость
        th.request-table-item Статус
      if tarifs
        if tarifs.length == 0
          tr
            td.request-table-item-center(colspan=6) Вы не оставляли еще ниодной заявки
        else        
          each tarif, i in tarifs
            -var iterator = i + 1;
            tr(data-id='#{tarif._id}')
              td.request-table-item-center #{iterator}
              td.request-table-item 
                a(href="/cabinet/tarifs/#{tarif._id}") #{tarif.name}
              td.request-table-item #{tarif.label}
              td.request-table-item-center #{tarif.price}
              td.request-table-item-center #{tarif.speed}
              td.request-table-item-center #{tarif.isActive}
              td
                button.btnDelete Удалить
      else
        tr
          td.request-table-item-center(colspan=6) Ошибка загрузки данных
    if tarifs  
      span
        a(href="/cabinet/tarifs/new" style="float:right;margin-top:30px;") Добавить новый тариф 
    else
      h1 Ошибка получения тарифа        
block js
  script(type="application/javascript", src="/js/cabinet.js")
  script.
    $('.btnDelete').click(function(){
      var id = $(this).closest('tr').data('id');
      $(this).closest('tr').remove();
      $.ajax({
        url: '/cabinet/tarifs/'+id,
        type: 'DELETE',
        success: function(result) {
            console.log('success');
            status.text('Данные обновлены успешно').css
            ({
              'display':'block',
              'text-align':'center',
              'color':'green'
            });
            fade(status);
        },
        error: function(err){
          console.log("error");
          console.log(err);
          status.text("Ошибка при обновлении данных").css
          ({
            'display':'block',
            'text-align':'center',
            'color':'red'
          });
          fade(status);
        }
      });
      })
    $('#submit').click(function(e){
      e.preventDefault()
      var obj = formToObject('form');
      var status = $('#status');
      $.ajax({
        url: '/cabinet/private',
        data: {user:formToObject('form')},
        type: 'PUT',
        success: function(result) {
            console.log('success');
            status.text('Данные обновлены успешно').css
            ({
              'display':'block',
              'text-align':'center',
              'color':'green'
            });
            fade(status);
        },
        error: function(err){
          console.log("error");
          console.log(err);
          status.text("Ошибка при обновлении данных").css
          ({
            'display':'block',
            'text-align':'center',
            'color':'red'
          });
          fade(status);
        }
      });
      
    })